artifacts/n8n-blueprints/omniproject-license-fulfilment.json
{
  "name": "OmniProject \u2014 Licence fulfilment (email key)",
  "meta": {
    "templateId": "omniproject-license-fulfilment",
    "description": "Receives the OmniProject gateway's licence hand-off (LICENSE_FULFILLMENT_URL), verifies the optional HMAC signature, and emails the buyer their key. Set a SMTP credential on 'Email the licence'."
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "omniproject-license-fulfilment",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "bbbbbbbb-0000-4000-8000-000000000000",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        300
      ],
      "notes": "Set this URL as LICENSE_FULFILLMENT_URL in the OmniProject sales gateway. The gateway POSTs { licenseKey, customer, email, tier, features, expiresAt, provider, orderId }."
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ JSON.stringify($json.body) }}",
        "dataPropertyName": "computedSig",
        "secret": "={{ $env.LICENSE_FULFILLMENT_SECRET || '' }}",
        "encoding": "hex"
      },
      "id": "bbbbbbbb-0000-4000-8000-000000000001",
      "name": "Compute HMAC",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -440,
        300
      ],
      "notes": "Recompute the HMAC of the body so we can compare it to the X-OmniProject-Signature header the gateway sends."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $env.LICENSE_FULFILLMENT_SECRET }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "leftValue": "={{ 'sha256=' + $json.computedSig }}",
              "rightValue": "={{ $json.headers['x-omniproject-signature'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "bbbbbbbb-0000-4000-8000-000000000002",
      "name": "Authentic?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -220,
        300
      ],
      "notes": "Pass when no LICENSE_FULFILLMENT_SECRET is configured (signature optional) OR when the HMAC matches the header. False branch returns 401."
    },
    {
      "parameters": {
        "jsCode": "// Build the licence-delivery email from the gateway's hand-off payload.\nconst d = $json.body || $json;\nconst features = Array.isArray(d.features) ? d.features.join(', ') : '';\nconst expires = d.expiresAt ? new Date(d.expiresAt).toUTCString() : 'no expiry';\nconst subject = 'Your OmniProject licence key';\nconst text = [\n  `Hi ${d.customer || 'there'},`,\n  '',\n  'Thank you for your purchase. Your OmniProject licence key is:',\n  '',\n  d.licenseKey,\n  '',\n  `Tier:     ${d.tier}`,\n  `Features: ${features}`,\n  `Expires:  ${expires}`,\n  '',\n  'To activate: set this value as LICENSE_KEY in your OmniProject deployment',\n  'environment, keep LICENSE_PUBLIC_KEY set to the issuer key, and restart.',\n  '',\n  'Guide: https://github.com/walshd1/Omniproject/blob/main/LICENSING.md',\n].join('\\n');\nconst html = `<p>Hi ${d.customer || 'there'},</p>`\n  + `<p>Thank you for your purchase. Your OmniProject licence key is:</p>`\n  + `<pre style=\"background:#111;color:#0f0;padding:12px;white-space:pre-wrap;word-break:break-all\">${d.licenseKey}</pre>`\n  + `<ul><li><b>Tier:</b> ${d.tier}</li><li><b>Features:</b> ${features}</li><li><b>Expires:</b> ${expires}</li></ul>`\n  + `<p>To activate: set this value as <code>LICENSE_KEY</code> in your deployment (keep <code>LICENSE_PUBLIC_KEY</code> set) and restart.</p>`\n  + `<p><a href=\"https://github.com/walshd1/Omniproject/blob/main/LICENSING.md\">Activation guide</a></p>`;\nreturn [{ json: { to: d.email, subject, text, html, customer: d.customer, tier: d.tier } }];"
      },
      "id": "bbbbbbbb-0000-4000-8000-000000000003",
      "name": "Compose email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.LICENSE_FROM_EMAIL || 'licenses@example.com' }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "both",
        "text": "={{ $json.text }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "bbbbbbbb-0000-4000-8000-000000000004",
      "name": "Email the licence",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        260,
        200
      ],
      "notes": "Attach YOUR SMTP credential here (Gmail, Postmark, SES, Resend SMTP, \u2026). Or swap this for a SendGrid/Resend/Gmail node.",
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ delivered: true, to: $json.to }) }}",
        "options": {}
      },
      "id": "bbbbbbbb-0000-4000-8000-000000000005",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ JSON.stringify({ error: 'invalid signature' }) }}",
        "options": {}
      },
      "id": "bbbbbbbb-0000-4000-8000-000000000006",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        20,
        440
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Compute HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute HMAC": {
      "main": [
        [
          {
            "node": "Authentic?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authentic?": {
      "main": [
        [
          {
            "node": "Compose email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose email": {
      "main": [
        [
          {
            "node": "Email the licence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email the licence": {
      "main": [
        [
          {
            "node": "200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
