artifacts/n8n-blueprints/omniproject-core-sync.json
{
  "name": "OmniProject Core Sync",
  "meta": {
    "templateId": "omniproject-core-sync",
    "description": "Reference workflow implementing the OmniProject gateway contract: routes X-OmniProject-Action to Plane / OpenProject and returns a normalized N8nActionResult."
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "omniproject",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-360, 320],
      "webhookId": "omniproject-core-sync"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.origin }}",
              "rightValue": "={{ $json.body.payload && $json.body.payload.lastUpdatedBy }}",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Drop Loop? (origin != lastUpdatedBy)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-160, 320],
      "notes": "Idempotency / loop guard. The gateway sends X-OmniProject-Idempotency-Key and origin. If an inbound change already originated from this system (origin === lastUpdatedBy), the false branch drops it to prevent webhook storms."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  { "leftValue": "={{ $json.body.action }}", "rightValue": "list_projects", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list_projects"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  { "leftValue": "={{ $json.body.action }}", "rightValue": "list_issues", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list_issues"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  { "leftValue": "={{ $json.body.action }}", "rightValue": "create_issue", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_issue"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  { "leftValue": "={{ $json.body.action }}", "rightValue": "update_issue", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_issue"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [80, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($json.body.source === 'openproject' ? $env.OPENPROJECT_INSTANCE_URL : $env.PLANE_INSTANCE_URL) }}/api/v1/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.body.payload.userContext.token }}" }
          ]
        },
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "List Projects (Plane/OpenProject)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, -120],
      "notes": "Dynamic per-user impersonation: Authorization uses the active user's OIDC token from payload.userContext.token, not a shared admin key."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($json.body.source === 'openproject' ? $env.OPENPROJECT_INSTANCE_URL : $env.PLANE_INSTANCE_URL) }}/api/v1/projects/{{ $json.body.payload.projectId }}/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.body.payload.userContext.token }}" }
          ]
        },
        "options": {}
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "List Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.body.source === 'openproject' ? $env.OPENPROJECT_INSTANCE_URL : $env.PLANE_INSTANCE_URL) }}/api/v1/projects/{{ $json.body.payload.projectId }}/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.body.payload.userContext.token }}" },
            { "name": "X-OmniProject-Idempotency-Key", "value": "={{ $json.body.idempotencyKey }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({}, $json.body.payload, { lastUpdatedBy: $json.body.origin })) }}",
        "options": {}
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Create Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 300],
      "notes": "Writes lastUpdatedBy = origin so the loop guard can drop the echo webhook this write will trigger."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ ($json.body.source === 'openproject' ? $env.OPENPROJECT_INSTANCE_URL : $env.PLANE_INSTANCE_URL) }}/api/v1/projects/{{ $json.body.payload.projectId }}/issues/{{ $json.body.payload.issueId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.body.payload.userContext.token }}" },
            { "name": "X-OmniProject-Idempotency-Key", "value": "={{ $json.body.idempotencyKey }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({}, $json.body.payload, { lastUpdatedBy: $json.body.origin })) }}",
        "options": {}
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Update Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 520]
    },
    {
      "parameters": {
        "jsCode": "// Normalize any backend response into the N8nActionResult contract\n// expected by the OmniProject gateway: { success, data, message }.\nconst action = $('Webhook').first().json.body.action;\nconst rows = items.map((i) => i.json);\nconst data = rows.length === 1 ? rows[0] : rows;\nreturn [{ json: { success: true, data, message: action + ' ok' } }];"
      },
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "Normalize → N8nActionResult",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 200]
    },
    {
      "parameters": {
        "jsCode": "const action = $('Webhook').first().json.body.action;\nreturn [{ json: { success: false, data: {}, message: 'Unsupported action: ' + action } }];"
      },
      "id": "99999999-9999-4999-8999-999999999999",
      "name": "Unsupported Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 480]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, data: { dropped: true }, message: 'Loop mutation dropped (origin === lastUpdatedBy)' } }];"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Drop (loop)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 560]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Respond N8nActionResult",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 320]
    },
    {
      "parameters": {
        "content": "## OmniProject Core Sync\n\nImplements the gateway contract:\n- **Webhook** receives `POST` with body `{ action, payload, source, origin, idempotencyKey }` and headers `X-OmniProject-Action / -Source / -Origin / -Idempotency-Key`.\n- **Loop guard** drops echoes where `origin === payload.lastUpdatedBy`.\n- **Route Action** switches on `list_projects | list_issues | create_issue | update_issue`.\n- HTTP nodes call Plane (`PLANE_INSTANCE_URL`) or OpenProject (`OPENPROJECT_INSTANCE_URL`) and authenticate **as the active user** via `payload.userContext.token`.\n- **Normalize** returns `{ success, data, message }` (N8nActionResult).\n\nSet env vars `PLANE_INSTANCE_URL` and `OPENPROJECT_INSTANCE_URL` in n8n. Adjust the API paths to your backend versions.",
        "height": 320,
        "width": 420
      },
      "id": "cccccccc-cccc-4ccc-8ccc-cccccccccccc",
      "name": "Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-360, -160]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Drop Loop? (origin != lastUpdatedBy)", "type": "main", "index": 0 }]]
    },
    "Drop Loop? (origin != lastUpdatedBy)": {
      "main": [
        [{ "node": "Route Action", "type": "main", "index": 0 }],
        [{ "node": "Drop (loop)", "type": "main", "index": 0 }]
      ]
    },
    "Route Action": {
      "main": [
        [{ "node": "List Projects (Plane/OpenProject)", "type": "main", "index": 0 }],
        [{ "node": "List Issues", "type": "main", "index": 0 }],
        [{ "node": "Create Issue", "type": "main", "index": 0 }],
        [{ "node": "Update Issue", "type": "main", "index": 0 }],
        [{ "node": "Unsupported Action", "type": "main", "index": 0 }]
      ]
    },
    "List Projects (Plane/OpenProject)": {
      "main": [[{ "node": "Normalize → N8nActionResult", "type": "main", "index": 0 }]]
    },
    "List Issues": {
      "main": [[{ "node": "Normalize → N8nActionResult", "type": "main", "index": 0 }]]
    },
    "Create Issue": {
      "main": [[{ "node": "Normalize → N8nActionResult", "type": "main", "index": 0 }]]
    },
    "Update Issue": {
      "main": [[{ "node": "Normalize → N8nActionResult", "type": "main", "index": 0 }]]
    },
    "Normalize → N8nActionResult": {
      "main": [[{ "node": "Respond N8nActionResult", "type": "main", "index": 0 }]]
    },
    "Unsupported Action": {
      "main": [[{ "node": "Respond N8nActionResult", "type": "main", "index": 0 }]]
    },
    "Drop (loop)": {
      "main": [[{ "node": "Respond N8nActionResult", "type": "main", "index": 0 }]]
    }
  }
}
